body{
    background-image: url(img4.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 700px;
}
#i1{
   background-color: aqua;
   width: 300px;
   border: 15px rgb(16, 37, 175);
   padding: 50px;
   margin: 20px;
   opacity:0.75;
   margin-left:32%;
   border-radius: 0.5;
}
#i2{
   margin-left: 35%;
}
#i3{
   margin-left:18%;
}
#i4{
   margin-left:37%;
}
#i5{
   margin-left:17%;
}
#i6{
   margin-left:37%;
}
#i7{
   margin-left:13.5%;
}
#i8{
   margin-left:20%;
}
#i9{
   margin-left:23%;
}
.c1{
   font-size:xx-large;
   margin-left:30%;
   background-color: blue;
}
#x1{
   margin-left:45%;
   font-size: xx-large;
}